html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1;
}

.footer {
    background-color: #343a40; /* Dark background */
    color: white;
    padding: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
